# procmail script for processing SVN commit notification emails
# for use with irker-svnpoller

IRKERMAILFILTER=$HOME/irker-mailfilter/irker-mailfilter.py

#VERBOSE=yes
#LOGFILE=/tmp/procmail.log

# Filter all email with numbers in the subject line, unless
# they come from -request ML addresses.

:0
* ^Subject: irker: .*
* ^From: .*@users.sourceforge.net
| $IRKERMAILFILTER

:0
* ^Subject: irker json
* ^From: .*@users.sourceforge.net
| $IRKERMAILFILTER

